.container {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
}

.link {
  display: block;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  font-weight: 400;
}

.link:hover {
  font-weight: 500;
}
