.container {
  width: auto;
  height: 30px;
  border-radius: 50px;
  border: 2px red;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.moon,
.sun {
  height: 100%;
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
  align-items: center;
  background-color: transparent;
}
