.title {
  font-size: 4rem;
  background-color: transparent;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 15px;
  white-space: pre-wrap;
}

.cursor {
  background-color: transparent;
  display: inline-block;
  width: 10px;
  animation: blink 0.5s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 3rem;
  }
}
