.navigationButton {
  padding: 1rem 0.5rem /* 16px */;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: var(--bg);
  color: var(--softTextColor);
  border: 1px solid #878585;
  cursor: pointer;
}

.nextButton {
  margin-left: auto;
}

.previousButton {
  margin-right: auto;
}

.span {
  font-size: 13px;
  background-color: transparent;
}

@media (max-width: 710px) {
  .span {
    display: none;
  }

  .nextButton::after {
    content: "➡";
    display: inline;
  }

  .previousButton::before {
    content: "⬅";
    display: inline;
  }
}
