.main {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

.description {
  text-align: center;
  font-size: 1.18rem;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.p {
  font-size: 1.5rem;
  font-weight: 200;
}

.section1,
.section2,
.section3,
.section4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.section1 {
  padding-top: 100px;
  justify-content: center;
  margin: 0px 100px;
}

.section2 {
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  background-color: #e84142;
}

.section3 {
  flex-direction: column;
  margin: 50px 100px;
  justify-content: center;
}

.section4 {
  margin: 50px 100px;
}
.section5 {
  background-color: var(--softBg);
  padding: 50px;
  margin: 50px 200px;
  height: max-content;
  box-shadow: 0px 4px 50px 0px rgba(232, 65, 66, 0.25);
  border-radius: 30px;
}

.contentSection5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerModule {
  display: flex;
  gap: 20px;
}

.textContent {
  width: 100%;
  max-width: 50%;
  padding: 0px;
}

.imageContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaButton,
.buttonRegister {
  background-color: #e84142;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: max-content;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.2rem;
}
.ctaButton {
  padding: 2% 25%;
}
.buttonRegister {
  padding: 15px;
}

@media (hover: hover) and (pointer: fine) {
  @media (prefers-reduced-motion) {
  }

  /* Mobile */
  @media (max-width: 768px) {
    .section {
      flex-direction: column;
    }

    .textContent {
      max-width: 100%;
    }
  }

  /* Tablet and Smaller Desktop */
  @media (min-width: 701px) and (max-width: 1120px) {
  }

  @media (prefers-color-scheme: dark) {
  }

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
