.container {
  display: flex;
  flex-direction: column;
  padding: 1rem /* 16px */;
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0 /* 8px */;
  font-weight: 600;
}

.link:hover {
  font-weight: 800;
}
